*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
.app-container{
    width: 90%;
    margin: 25vh auto;
    border-radius:5px;
    padding: 20px;
    background-color:whitesmoke
}
.left{
    display: flex;
    align-items: center;
}
.live{
    background-color:red;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85px;
    height: 30px;
    border-radius:4px
}
.left>h3{
    margin-left:10px
}
.heading{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.button{
    background:rgba(91, 134, 175, 0.623);
    color: white;
    width: 35px;
    height: 30px;
    border-radius: 3px;
    border: none;
}
.prev-btn{
    transform: scaleX(-1);
    margin-right:20px
}